{% extends 'base.html.twig' %}
{% block body %}
<h2 class="page-header">SAC - Lista de pedidos cadastrados</h2>

<table class="table table-striped">

	<thead>
		<tr>
			<th>ID</th>
			<th>Nome</th>
			<th>Email</th>
			<th>Nº Pedido</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for cliente in clientes %}
		<tr>
			<th scope="row">{{ cliente.id }}</th>
			<td>{{ cliente.nome }}</td>
			<td>{{ cliente.email }}</td>
			<td>{{ cliente.numeroPedido }}</td>
			<td>
				<a href="#" class="btn btn-success">Ver</a>
				<a href="#" class="btn btn-danger">Deletar</a>
				<a href="#" class="btn btn-primary">Editar</a>
			</td>
		</tr>

		{% endfor %}
	</tbody>
</table

{% endblock %}